@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
  }

  body {
    @apply font-sans;
  }

  h1 {
    @apply text-3xl font-bold;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  p {
    @apply text-lg;
  }

  input:is([type='text'], [type='number']) {
    @apply appearance-none rounded-md px-2 text-lg outline-none;
  }
}

@layer components {
  .timer {
    background-image: radial-gradient(theme(colors.blue.500), transparent);
  }

  .tab {
    @apply flex-grow rounded-t-xl border-2 border-blue-500 bg-blue-100/5 p-2 text-xl;
    border-style: none none solid none;
    transition-property: flex-grow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
  .tab[aria-selected='true'] {
    border-style: solid solid none solid;
  }
  .tab:hover {
    flex-grow: 1.1;
  }

  input[data-has-icon] {
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1em 1em;
  }
  input[data-has-icon][pattern]:invalid {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%20-960%20960%20960%22%20fill%3D%22%23ef4444%22%3E%3Cpath%20d%3D%22m256-200-56-56%20224-224-224-224%2056-56%20224%20224%20224-224%2056%2056-224%20224%20224%20224-56%2056-224-224-224%20224Z%22%2F%3E%3C%2Fsvg%3E');
  }
  input[data-has-icon][pattern]:valid {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%20-960%20960%20960%22%20fill%3D%22%23059669%22%3E%3Cpath%20d%3D%22M382-240%20154-468l57-57%20171%20171%20367-367%2057%2057-424%20424Z%22%2F%3E%3C%2Fsvg%3E');
  }

  input[type='checkbox'] {
    appearance: none;
    margin: 0;
    padding: 0;
    print-color-adjust: exact;
    display: inline-block;
    background-origin: border-box;
    user-select: none;
    cursor: pointer;
    border: 2px solid theme(colors.blue.500);
    border-radius: 0.5rem;
    color: theme(colors.blue.500);
    height: 1.5rem;
    width: 1.5rem;
  }
  input[type='checkbox']:checked {
    background-image: url('data:image/svg+xml,%3csvg viewBox=%270 0 16 16%27 fill=%27%239ca3af%27 xmlns=%27http://www.w3.org/2000/svg%27%3e%3cpath d=%27M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z%27/%3e%3c/svg%3e');
    background-size: 100% 100%;
    background-color: currentColor;
    background-position: center;
    background-repeat: no-repeat;
  }

  .disabled {
    @apply opacity-60 transition-all;
  }

  .disabled :is(button, input) {
    @apply cursor-not-allowed !important;
  }

  .scroll {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: theme(colors.blue.500) theme(colors.blue.950);
  }
  @media (min-width: 361px) {
    .scroll {
      max-height: calc(100vh - 56px);
    }
  }
}
